<%- include("partials/header") -%>

<body class="body-container">

    
    <div class="container-fluid content">
        <div class="row ">
           <%- include("partials/aside") -%>
        <main class="col-9">
            <h1 class="title"><%= title %></h1>
            <p> <%- content %></p>
        </main>
        </div>
        
        
</div>
<%- include("partials/footer") -%> 